<p id="notice"><%= notice %></p>

<h1>Pictures</h1>
<%= link_to 'New Picture', new_picture_path %>
<br>

<table>
  <thead>
    <tr>
      <th>Damage rooms</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each_with_index do |picture, index| %>
      <tr>
        <td>Damage room <%= index +1 %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Destroy', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

